@media only screen and (min-width: 319px) and (max-width: 374px){
    .main .container{
        width: 100%;
    }
    .main .container .img__container{
        margin-top: 0px;
    }
    .main .container .title__container{
        margin-top: 0px;
    }
    .main .container .links__container{
        width: 90%;
        margin: 0 auto;
        margin-top: 0px;
    }
    .main .container .socials__container {
      width: 100%;
      justify-content: center;
      align-items: center;
      display: flex;
      flex-direction: column;
    }
    .main .container .socials__container img{
      margin: 10px;
    }
    .main .container .socials__container .tg {
      margin: 10px;
      padding: 10px 15px;
      width: 30%;
    }
    .main .container .socials__container .tg i {
      display: inline-block;
      vertical-align: middle;
      padding-right: 5px;
    }
    .fa-lg{
        font-size: 16px;
    }
    .main .container .add__btn{
        width: 80%;
        margin-bottom: 20px;
    }
    .modal-content {
      transform: translate(-53%, -60%);
  }
}
@media only screen and (min-width: 375px) and (max-width: 430px) {
    .main .container{
        width: 100%;
    }
    .main .container .img__container{
        margin-top: 0px;
    }
    .main .container .title__container{
        margin-top: 0px;
    }
    .main .container .links__container{
        width: 90%;
        margin: 0 auto;
        margin-top: 10px;
    }
    .main .container .socials__container {
      width: 100%;
      justify-content: center;
    }
    .main .container .socials__container img{
      margin: 10px;
    }
    .fa-lg{
        font-size: 16px;
    }
    .main .container .add__btn{
      width: 80%;
      margin-bottom: 20px;
  }
    .modal-content {
      transform: translate(-53%, -60%);
  }
}
@media only screen and (min-width: 431px) and (max-width: 768px) {
    .main .container{
        width: 50%;
    }
    .main .container .title__container{
        margin-top: 0px;
    }
    .main .container .socials__container {
      width: 100%;
      flex-wrap: nowrap;
      justify-content: center;
      overflow: auto;
    }
    .main .container .socials__container a {
      margin: 10px;
      white-space: nowrap;
      padding: 10px 15px;
    }
  
    .main .container .socials__container a i {
      display: inline-block;
      vertical-align: middle;
      padding-right: 5px;
    }
    .fa-lg{
        font-size: 18px;
    }
}
  
  
@media only screen and (min-width: 769px) and (max-width: 1024px) {
    .main .container{
        width: 40%;
    }
    .main .container .title__container{
        margin-top: 0px;
    }
    .main .container .socials__container {
      width: 100%;
      flex-wrap: nowrap;
      justify-content: center;
      overflow: auto;
    }
    .main .container .socials__container a {
      margin: 10px;
      white-space: nowrap;
      padding: 10px 15px;
    }
  
    .main .container .socials__container a i {
      display: inline-block;
      vertical-align: middle;
      padding-right: 5px;
    }
    .fa-lg{
        font-size: 18px;
    }
}
