<!DOCTYPE html>
<html lang="ru">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Политика конфиденциальности</title>
    <meta name="robots" content="noindex, nofollow">
    <meta name="description" content="Создайте впечатляющие онлайн бизнес визитки всего за несколько простых шагов с нашим сервисом. Позвольте вашему бренду выделиться среди конкурентов..">
    <meta name="keywords" content="онлайн визитка, создать онлайн визитку, бизнес визитка, визитка, создать визитку, веб-визитка, веб визитка, визитка бот, visitka bot, visitkabot">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">
    <link rel="stylesheet" href="assets/main/css/policy.css">
    <link rel="stylesheet" href="assets/main/css/policyMedia.css">
</head>

<body>
    <div class="loader"></div>
    <div class="container">
        <header class="d-flex flex-wrap justify-content-between py-3" id="header">
            <a href="/" class="d-flex align-items-center mb-md-0 me-md-auto text-decoration-none">
                <span>VisitkaBot</span>
            </a>
            <ul class="nav">
                <li class="nav-item"><a href="https://t.me/BusinCard_Bot" class="nav-link" aria-label="Telegram">
                        <i class="fa-solid fa-paper-plane fa-xl" style="color: #98bae6;"></i>
                    </a></li>
            </ul>
        </header>
    </div>

    <main>
        <div class="container">
            <div class="main__content col-8 offset-2">
                <div>
                    <h1 class="policy__title">Политика конфиденциальности</h1>
                    <h3><span class="num">1 </span> <span class="subtitle">Общие положения</span></h3>
                    <p><span class="num">1.1 </span> Настоящая Политика проводится в рамках сайта <a
                            href="https://visitkabot.ru">(https://visitkabot.ru)</a> «visiktabot» (далее — «Организация») в отношении
                        обработки и
                        обеспечения защиты персональных данных физических лиц (субъектов персональных данных) на
                        основании статьи 24
                        Конституции РФ и Федерального закона N 152-ФЗ «О персональных данных».</p>
                    <p><span class="num">1.2 </span> Политика применяется в отношении всех персональных данных
                        (субъектов), которые могут быть
                        получены
                        Организацией в процессе деятельности, в том числе клиентов Организации.</p>
                    <p><span class="num">1.3 </span> Цель Политики заключается в доведении до лиц, предоставляющих свои
                        персональные данные,
                        необходимой
                        информации, позволяющей оценить, какие персональные данные и с какими целями обрабатываются
                        Организацией,
                        какие методы обеспечения их безопасности реализуются.</p>
                    <p><span class="num">1.4 </span> Политика обеспечивает защиту прав и свобод субъектов при обработке
                        их персональных данных с
                        использованием средств автоматизации или без использования таких средств, а также устанавливает
                        ответственность лиц, имеющих доступ к персональным данным, за невыполнение требований,
                        регулирующих
                        обработку и защиту персональных данных.</p>
                    <p><span class="num">1.5 </span> Клиенты, используя сервисы и услуги Организации, сообщив
                        Организации свои персональные
                        данные, в том
                        числе при посредничестве третьих лиц, признают своё согласие на обработку персональных данных в
                        соответствии
                        с настоящей Политикой.</p>
                    <p><span class="num">1.6 </span> Согласие на обработку персональных данных может быть отозвано
                        субъектом персональных данных.
                        В случае
                        отзыва субъектом персональных данных согласия на обработку персональных данных оператор вправе
                        продолжить
                        обработку персональных данных без согласия субъекта персональных данных при наличии оснований,
                        указанных
                        действующим законодательством или, в противном случае, отказать в оказании услуги, в случае,
                        если
                        персональные данные необходимы для оказания такой услуги.</p>
                    <p><span class="num">1.7 </span> Настоящая Политика может быть изменена Организацией.</p>
                </div>
                <div>
                    <h3><span class="num">2 </span><span class="subtitle">Понятия и состав персональных данных</span></h3>
                    <p><span class="num">2.1 </span> В целях настоящей Политики под персональными данными понимается
                        любая информация,
                        относящаяся к
                        прямо или косвенно определенному физическому лицу (субъекту персональных данных).</p>
                    <p><span class="num">2.2 </span> В зависимости от субъекта персональных данных, Организация для
                        осуществления своей
                        деятельности и
                        для выполнения своих обязательств может обрабатывать персональные данные следующих категорий
                        субъектов:
                    </p>
                    <p>
                        <ul>
                            <li>персональные данные работника Организации — информация, необходимая Организации в связи
                                с
                                трудовыми отношениями и касающиеся конкретного работника.</li>
                            <li>данные Клиента — информация, необходимая Организации для выполнения своих обязательств в
                                рамках
                                договорных отношений с Клиентом и для выполнения требований законодательства Российской
                                Федерации.</li>
                            <li>персональные данные Клиента, предоставленные при регистрации на веб-сайте taplink.ru, в
                                том
                                числе при осуществлении Клиентом Заказов.</li>
                            <li>данные, которые автоматически передаются Сервисам в процессе их использования с помощью
                                установленного на устройстве пользователя программного обеспечения, в том числе
                                IP-адрес,
                                информация из cookie, информация о браузере пользователя (или иной программе, с помощью
                                которой
                                осуществляется доступ к Сервисам), время доступа, адрес запрашиваемой страницы.</li>
                        </ul>
                    </p>
                </div>
                <div>
                    <h3><span class="num">3 </span> <span class="subtitle">Основания и цели обработки персональных данных</span></h3>
                    <p><span class="num">3.1 </span> Организация обрабатывает персональные данные для осуществления
                        своей деятельности, в том
                        числе
                        оказания Клиентам услуг. Организация вправе:</p>
                    <p>
                        <ul>
                            <li>обрабатывать персональные данные Клиента без получения письменного согласия субъекта
                                персональных данных в соответствии с ст 6. п. 1. пп.5 ФЗ «О персональных данных», т.к.
                                обработка
                                персональных данных необходима для исполнения договора, стороной которого либо
                                выгодоприобретателем или поручителем по которому является субъект персональных данных, а
                                также
                                для заключения договора по инициативе субъекта персональных данных или договора, по
                                которому
                                субъект персональных данных будет являться выгодоприобретателем или поручителем.</li>
                            <li>осуществлять возложенные на Организацию законодательством Российской Федерации функции в
                                соответствии с ФЗ «О Персональных данных» и иными законами и нормативными правовыми
                                актами РФ, а
                                также Уставом и нормативными актами Организации;</li>
                            <li>собирать и хранить персональные данные Клиента, необходимые для оказания услуг,
                                исполнения
                                соглашений и договоров, исполнения обязательств перед Клиентом.</li>
                        </ul>
                    </p>
                    <p><span class="num">3.2 </span> Организация может использовать персональные данные Клиента в
                        следующих целях:</p>
                    <p>
                        <ul>
                            <li>оказание услуг Клиенту;</li>
                            <li>идентификация Клиента в рамках договоров;</li>
                            <li>связь с Клиентом в случае необходимости, в том числе направление предложений,
                                уведомлений,
                                информации и запросов, как связанных, так и не связанных с оказанием услуг, а также
                                обработка
                                заявлений, запросов и заявок Клиента;</li>
                            <li>улучшение качества услуг, оказываемых Компанией;</li>
                            <li>таргетирование рекламных материалов;</li>
                            <li>проведение статистических и иных исследований на основе обезличенных данных;</li>
                        </ul>
                    </p>
                    <p><span class="num">3.3 </span> Фактом регистрации Клиент выражает свое согласие на использование
                        cookie-файлов и обработку
                        персональных данных с использованием аналитического инструмента Яндекс.Метрика. Клиент
                        подтверждает, что
                        ознакомлен с "Условиями использования сервиса Яндекс.Метрика и AppMetrica" (<a
                            href="https://yandex.ru/legal/metrica_termsofuse/" rel=nofollow
                            target=__blank>https://yandex.ru/legal/metrica_termsofuse/</a>) Обрабатываемые данные
                        включают в
                        себя: IP-адрес; тип и версия ОС; тип и версия Браузера; тип устройства и разрешение экрана
                        устройства;
                        язык системы и браузера; активности на страницах и взаимодействии с элементами сайта.
                        Размещенная
                        Клиентом информация собирается анонимно. Если Клиент не согласен с обработкой персональных и
                        иных
                        данных, то необходимо прекратить использование сервиса Taplink.ru.</p>
                </div>
                <div>
                    <h3><span class="num">4 </span><span class="subtitle">Сроки обработки персональных данных</span></h3>
                    <p><span class="num">4.1 </span> Сроки обработки персональных данных определяются исходя из целей обработки в информационных
                        системах
                        Организации, в соответствии со сроком действия договора, соглашения с субъектом персональных
                        данных.</p>
                </div>
                <div>
                    <h3><span class="num">5 </span><span class="subtitle">Круг лиц допущенных к обработке персональных данных</span></h3>
                    <p><span class="num">5.1 </span> Для достижения целей статьи 3 настоящей Политики к обработке персональных данных допущены
                        только те
                        сотрудники Организации, на которых возложена такая обязанность в соответствии с их служебными
                        (трудовыми) обязанностями. Доступ других сотрудников может быть предоставлен только в
                        предусмотренных
                        законом случаях. Организация требует от своих сотрудников соблюдения конфиденциальности и
                        обеспечения
                        безопасности персональных данных, при их обработке.</p>
                    <p><span class="num">5.2 </span> Организация вправе передать персональные данные третьим лицам в
                        следующих случаях:</p>
                    <p>
                        <ul>
                            <li>Субъект персональных данных явно выразил свое согласие на такие действия, в том
                                числе:<br> при
                                оказании услуг Клиентам – принял условия публичного договора-оферты;</li>
                            <li>Передача предусмотрена российским или иным применимым законодательством в рамках
                                установленной
                                законодательством процедуры;</li>
                        </ul>
                    </p>
                    <p>При этом к приобретателю переходят все обязательства по соблюдению условий обеспечения
                        безопасности
                        персональных данных в соответствии с действующим законодательством Российской Федерации и
                        международным
                        соглашениям применительно к полученным им данным.</p>
                </div>
                <div>
                    <h3><span class="num">6 </span><span class="subtitle">Методы обработки персональных данных</span></h3>
                    <p><span class="num">6.1  </span> В процессе предоставления услуг, при осуществлении внутрихозяйственной деятельности
                        Организация
                        использует автоматизированную и неавтоматизированную обработку персональных данных.</p>
                </div>
                <div>
                    <h3><span class="num">7 </span><span class="subtitle">Реализация защиты персональных данных</span></h3>
                    <p><span class="num">7.1  </span> Деятельность Организации по обработке персональных данных в информационных системах
                        неразрывно
                        связана с защитой Организацией конфиденциальности полученной информации. Все работники
                        Организации
                        обязаны обеспечивать конфиденциальность персональных данных, а также иных конфиденциальных
                        сведений,
                        установленных Организацией, если это не противоречит действующему законодательству РФ.</p>
                    <p><span class="num">7.2 </span> Безопасность персональных данных при их обработке в информационных системах Организации
                        обеспечивается с помощью системы защиты информации.</p>
                    <p><span class="num">7.3 </span> Обмен персональными данными при их обработке в информационной системе персональных данных
                        осуществляется по защищенным каналам связи.</p>
                    <p><span class="num">7.4 </span> При обработке персональных данных в информационной системе персональных данных Организации
                        обеспечиваются:</p>
                    <p>
                        <ul>
                            <li>проведение мероприятий, направленных на предотвращение несанкционированного доступа к
                                персональным данным и (или) передача их лицам, не имеющим права доступа к такой
                                информации;</li>
                            <li>применение межсетевого экранирования;</li>
                            <li>физическая защита помещений и технических средств, позволяющих осуществлять обработку
                                персональных данных;</li>
                            <li>своевременное обнаружение фактов несанкционированного доступа к персональным данным;
                            </li>
                            <li>недопущение физического воздействия на технические средства автоматизированных рабочих
                                мест, в
                                результате которого может быть нарушено их функционирование;</li>
                            <li>возможность незамедлительного восстановления персональных данных, модифицированных и
                                уничтоженных вследствие несанкционированного доступа к ним;</li>
                            <li>постоянный антивирусный контроль;</li>
                            <li>постоянный анализ защищенности персональных данных;</li>
                            <li>использование атрибутов безопасности;</li>
                            <li>контроль целостности программной среды обработки персональных данных;</li>
                            <li>иные средства и меры в соответствии с действующим законодательством.</li>
                        </ul>
                    </p>
                </div>
            </div>
        </div>
    </main>

    <footer>
        <div class="container">
            <ul class="nav justify-content-md-center justify-content-start border-bottom pb-1 mb-1">
                <li class="nav-item"><a href="https://t.me/BusinCard_Bot" class="nav-link"><i
                            class="fa-solid fa-paper-plane" style="color: #98bae6;"></i>@busincard_bot</a></li>
                <li class="nav-item"><a href="mailto:visitkabot@yandex.ru" class="nav-link"><i
                            class="fa-solid fa-envelope" style="color: #98bae6;"></i>visitkabot@yandex.ru</a></li>
                <li class="nav-item"><a href="policy.html" class="nav-link"><i class="fa-solid fa-file-shield"
                            style="color: #98bae6;"></i>Политика конфиденциальности</a></li>
                <li class="nav-item"><a href="rules.html" class="nav-link"><i
                            class="fa-solid fa-file-circle-exclamation" style="color: #98bae6;"></i>Правила и требования
                        к контенту</a></li>
            </ul>
            <a href="#header" class="text-center nav-link"><span>VisitkaBot</span></a>
        </div>
    </footer>

    <script src="https://kit.fontawesome.com/98b70eee36.js" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-C6RzsynM9kWDrMNeT87bh95OGNyZPhcTNXj1NW7RuBCsyN/o0jlpcV8Qyq46cDfL" crossorigin="anonymous">
    </script>
    <script src="assets/main/js/script.js"></script>
</body>

</html>