<!DOCTYPE html>
<html lang="ru">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Правила и требования к контенту</title>
    <meta name="robots" content="noindex, nofollow">
    <meta name="description" content="Создайте впечатляющие онлайн бизнес визитки всего за несколько простых шагов с нашим сервисом. Позвольте вашему бренду выделиться среди конкурентов..">
    <meta name="keywords" content="онлайн визитка, создать онлайн визитку, бизнес визитка, визитка, создать визитку, веб-визитка, веб визитка, визитка бот, visitka bot, visitkabot">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">
    <link rel="stylesheet" href="assets/main/css/policy.css">
    <link rel="stylesheet" href="assets/main/css/policyMedia.css">
</head>

<body>
    <div class="loader"></div>
    <div class="container">
        <header class="d-flex flex-wrap justify-content-between py-3" id="header">
            <a href="/" class="d-flex align-items-center mb-md-0 me-md-auto text-decoration-none">
                <span>VisitkaBot</span>
            </a>
            <ul class="nav">
                <li class="nav-item"><a href="https://t.me/BusinCard_Bot" class="nav-link" aria-label="Telegram">
                        <i class="fa-solid fa-paper-plane fa-xl" style="color: #98bae6;"></i>
                    </a></li>
            </ul>
        </header>
    </div>

    <main>
        <div class="container">
            <div class="main__content col-8 offset-2">
                <h1>Правила и требования к контенту</h1>
                <p><span class="num">1. </span> Пользователь соглашается соблюдать правила и требования к Контенту (медиафайлы, встроенный
                    контент, ссылки и тексты), изложенные ниже:</p>
                <p><span class="num">1.1 </span><span class="subtitle">Контент для взрослых</span></p>
                <p>Контент должен подходить для посетителей всех возрастов, включая несовершеннолетних. Если вы
                    встраиваете Контент, который может быть расценен как материалы для взрослых (например: люди в одежде
                    плохо скрывающей интимные органы), необходимо установить метку конфиденциального контента.</p>
                <p><span class="num">1.2 </span><span class="subtitle">Разжигание ненависти</span></p>
                <p>Контент не разжигает ненависть или насилие или не дискриминирует отдельных лиц и группы по признаку
                    расы, цвета кожи, национального происхождения, религиозных убеждений, пола, сексуальной ориентации,
                    возраста, статус ветерана, инвалидность или состояние здоровья.</p>
                <p><span class="num">1.3 </span><span class="subtitle">Мошенничество на выборах</span></p>
                <p>Контент не воспрепятствует вашему местному/национальному избирательному процессу, что включает в себя
                    введение общественности в заблуждение относительно того, где и как участвовать, или о том, кто может
                    участвовать, а также продажу или попытку продажи вашего права голоса.</p>
                <p><span class="num">1.4 </span><span class="subtitle">Незаконные товары и услуги</span></p>
                <p>Контент не используется для рекламы или содействия продаже регулируемых или незаконных товаров или
                    услуг, включая (но не ограничиваясь):</p>
                <ul>
                    <li>Алкоголь</li>
                    <li>Наркотики</li>
                    <li>Оружие</li>
                    <li>Схемы оружия</li>
                    <li>Части тела (включая биологические жидкости, кровь и т. д.)</li>
                    <li>Предложения по усыновлению / суррогатному материнству</li>
                    <li>Подделки</li>
                    <li>Товары под эмбарго</li>
                    <li>Исчезающие или охраняемые виды животных и растений или их части</li>
                    <li>Регулируемые растения, насекомые, животные</li>
                    <li>Фейерверки и взрывчатые вещества</li>
                    <li>Опасные / токсичные материалы</li>
                    <li>Документы, удостоверяющие личность</li>
                    <li>Личная информация или списки рассылки</li>
                    <li>Отозванные товары</li>
                    <li>Украденные предметы</li>
                    <li>Табачные изделия, вкл. электронные сигареты</li>
                    <li>Азартные игры</li>
                    <li>Торговля людьми или проституция</li>
                </ul>
                <p>Сайт нельзя использовать для поощрения или облегчения любой формы незаконной деятельности, включая
                    продажу незаконных товаров или услуг.</p>
                <p><span class="num">1.5 </span><span class="subtitle">Спам и Мошенничество</span></p>
                <p>Запрещено использовать Сайт для рассылки спама или обмана посетителей, включая ссылки на внешние
                    сайты, которые могут собирать личную информацию под ложным предлогом.</p>
                <p><span class="num">1.6 </span><span class="subtitle">Домогательство</span></p>
                <p>Запрещено использовать Сайт с намерением запугать, беспокоить, угрожать или запугивать.</p>
                <p><span class="num">1.7 </span> Экстремистский/террористический контент</p>
                <p>Запрещено использовать Сайт для рекламы, пропаганды, восхваления или сбора средств для экстремистских
                    групп или их деятельности.</p>
                <p><span class="num">1.8 </span><span class="subtitle">Детский вред</span></p>
                <p>Запрещено размещать Контент, который наносит вред несовершеннолетним или поддерживает причинение
                    вреда несовершеннолетним, в том числе: материалы о сексуальном насилии над детьми, домогательства к
                    несовершеннолетним и изображения несовершеннолетних в ненадлежащем контексте.</p>
                <p><span class="num">1.9 </span><span class="subtitle">Причинение вреда себе</span></p>
                <p>Запрещено размещать контент, который пропагандирует или идеализирует самоубийство,
                    членовредительство, расстройство пищеварения или потенциально опасные методы лечения.</p>
                <p><span class="num">1.10 </span><span class="subtitle">Шокирующий или жестокий контент</span></p>
                <p>Запрещено размещать контент, предназначенный для нарушения психического состояния посетителей,
                    содержащий кровь, увечья, чрезмерное или физическое насилие и т.д.</p>
                <p><span class="num">1.11 </span><span class="subtitle">Автоское право и товарные знаки</span></p>
                <p>Запрещено размещать контент, нарушающий права интеллектуальной собственности людей и компаний
                    (включая авторские права, товарные знаки и патенты).</p>
                <p><span class="num">1.12 </span><span class="subtitle">Конфиденциальные данные</span></p>
                <p>Запрещено размещать контент, раскрывающий личную информацию других лиц, а так же сбор
                    идентифицирующей информации без надлежащего правового основания (включая IP-адреса) или раскрывают
                    частный Контент без согласия лица.</p>
                <p><span class="num">1.13 </span><span class="subtitle">Дезинформация</span></p>
                <p>Запрещено создавать страницы, выдающие себя за других людей или организации. Запрещено размещать
                    Контент, который, является ложным, неточным или предназначен для дезинформации других.</p>
                <p><span class="num">2</span> Исполнитель вправе отказать в размещении ссылок на конкурирующие сервисы и сайты (в том числе на
                    сообщества конкурирующих сервисов/сайтов).</p>
                <p><span class="num">3</span> Так же не допускается размещение ссылок на ресурсы, заблокированные к размещению компанией Meta
                    (Facebook, Instagram, WhatsApp).</p>
                <p><span class="num">4</span> Если какой-либо Контент по мнению Исполнителя нарушает правила и требования к Контенту
                    (медиафайлы, встроенный контент, ссылки и тексты), Исполнитель имеет право удалять любую информацию
                    и материалы, размещенные Пользователем на Сайте, либо заблокировать страницу полностью, без
                    предварительного уведомления Пользователя. Возврат оплаты в случае нарушения правил и требований к
                    Контенту не производится.</p>
            </div>
        </div>
    </main>

    <footer>
        <div class="container">
            <ul class="nav justify-content-md-center justify-content-start border-bottom pb-1 mb-1">
                <li class="nav-item"><a href="https://t.me/BusinCard_Bot" class="nav-link"><i
                            class="fa-solid fa-paper-plane" style="color: #98bae6;"></i>@busincard_bot</a></li>
                <li class="nav-item"><a href="mailto:visitkabot@yandex.ru" class="nav-link"><i
                            class="fa-solid fa-envelope" style="color: #98bae6;"></i>visitkabot@yandex.ru</a></li>
                <li class="nav-item"><a href="/policy" class="nav-link"><i class="fa-solid fa-file-shield"
                                                                               style="color: #98bae6;"></i>Политика конфиденциальности</a></li>
                <li class="nav-item"><a href="/rules" class="nav-link"><i
                            class="fa-solid fa-file-circle-exclamation" style="color: #98bae6;"></i>Правила и требования
                        к контенту</a></li>
            </ul>
            <a href="#header" class="text-center nav-link"><span>VisitkaBot</span></a>
        </div>
    </footer>
    <script src="https://kit.fontawesome.com/98b70eee36.js" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-C6RzsynM9kWDrMNeT87bh95OGNyZPhcTNXj1NW7RuBCsyN/o0jlpcV8Qyq46cDfL" crossorigin="anonymous">
    </script>
    <script src="assets/main/js/script.js"></script>
</body>

</html>