@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;500;600;700&family=Roboto:wght@300;400;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400&display=swap');
body {
    background-color:#E4E5EA;
    margin: 0;
    padding: 0;
    font-family: 'Open Sans', sans-serif;
}
.main{
    display: flex;
    align-items: center;
    justify-content: center;
}
.main .ad__container{
    position: fixed;
    top: 0;
    left: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    width: 100%;
    background-color: #16354D;
    margin: 0;
    padding: 1px;
    max-height: 30px;
}
.main .ad__container p{
    font-size: 15px;
    color: #E4E5EA;
    font-family: 'Montserrat', sans-serif;
    padding-bottom: 2px;
}
.main .ad__container p a{
    color: #E4E5EA;
    text-decoration: none;
    border-bottom: 1px solid #E4E5EA;
    transition: color 0.3s ease, border-bottom 0.3s ease;
}
.main .ad__container p a:hover{
    border-bottom: 1px solid #6B99C3;
    color: #6B99C3;
}
.main .container{
    width: 30%;
}
.main .container .img__container{
    text-align: center;
    padding-top: 30px;
}
.main .container .img__container img{
    max-width: 100%;
    max-height: 300px;
    height: auto;
}
.main .container .title__container{
    width: fit-content;
    text-align: center;
    margin: 0 auto;
    margin-top: 0px;
    width: 95%;
}
.main .container .title__container h1{
    font-size: 30px;
    font-weight: 600;
    color: #16354D;
    margin: 0;
}
.main .container .title__container p{
    font-size: 18px;
    font-weight: 400;
    color: #16354D;
    margin: 0;
}
.main .container .title__container .title__divider{
    height: 2px;
    margin: 6px;
}
.divider {
    width: 100%;
    height: 1px;
    background-color: #6B99C3;
    margin: 5px 0;
    border: none;
}
.main .container .links__container{
    display: flex;
    flex-direction: column;
    text-decoration: none;
    width: 90%;
    margin: 0 auto;
    margin-top: 25px;
}
.main .container .links__container .column{
    display: flex;
    flex-direction: column;
}
.main .container .links__container .text{
    display: flex;
    flex-direction: row;
    text-decoration: none;
    font-size: 17.5px;
    margin: 0;
    padding-top: 2.5px;
    padding-bottom: 2.5px;
}
.main .container .links__container .org{
    padding-left: 3px;
    text-align: start;
}
.main .container .links__container .org .org__span{
    padding-left: 6px;
}
.main .container .links__container label{
    margin-left: 45px;
    color: #16354D;
    font-size: 14px;
    margin-bottom: -5px;
}
.main .container .links__container .text i{
    padding-right: 20px;
    position: relative;
    top: 4px;
    left: 10px;
}
.main .container .links__container .text span{
    padding-left: 3px;
    color:  #16354D;
}
.main .container .qr__container{
    display: flex;
    justify-content: center;
    align-items: center;
}
.main .container .add__btn{
    width: 90%;
    margin: 10px auto;
    text-align: center;
    background-color: #16354D;
    border: 1px solid #16354D;
    border-radius: 10px;
    margin-top: 15px;
    margin-bottom: 15px;
    padding: 10px;
    -webkit-box-shadow: 4px 4px 8px 0px rgba(135, 118, 104, 0.2);
    -moz-box-shadow: 4px 4px 8px 0px rgba(135, 118, 104, 0.2);
    box-shadow: 4px 4px 8px 0px rgba(135, 118, 104, 0.2);
    font-family: 'Roboto', sans-serif;
}
.main .container .add__btn:hover{
    background-color: #1e496a;
    border-color: #1e496a;
    cursor: pointer;
}
.main .container .add__btn span{
    color: #E4E5EA;
    text-decoration: none;
    font-size: 20px;
}
.main .container .designed__container {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    margin-top: 10px;
}
.main .container .designed__container p {
    margin: 0;
    font-size: 15px;
    color:#16354D;

}
.main .container .designed__container p a {
    text-decoration: none;
    color:#528abf;
}
/* Анимация "divider" */
.hr-animation {
    width: 0;
    height: 2px;
    margin: 10px 0;
    border: none;
    display: block;
    unicode-bidi: isolate;
    overflow: hidden;
    animation: hrAppear 3s ease-out forwards;
}
@keyframes hrAppear {
    from {
        width: 0;
    }
    to {
        width: 100%;
    }
}
@keyframes typing {
    from {
        width: 0;
    }
    to {
        width: 100%;
    }
}