<!DOCTYPE html>
<html lang="ru">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{.Name}}</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.1/css/all.min.css"
        integrity="sha512-DTOQO9RWCH3ppGqcWaEA1BIZOC6xxalwEsw9c2QQeAIftl+Vegovlnee1c9QX4TctnWMn13TZye+giMm8e2LwA=="
        crossorigin="anonymous" referrerpolicy="no-referrer" />
        <link rel="stylesheet" href="assets/brownView/css/style.css">
        <link rel="stylesheet" href="assets/brownView/css/media.css">
</head>

<body>
    <main>
        <div class="main">
            <div class="ad__container">
                <p>Нет визитки? <a href="https://t.me/amasaetre" target="_blank"> Создайте её!</a></p>
            </div>
            <div class="container">
                <div class="img__container">
                    {{ if .ImageDir1 }}
                    <img src="assets/qrs/{{.ImageDir}}/image.png" alt="photo">
                    {{ end }}
                </div>

                <div class="title__container">
                    <h1 class="name contact">{{.Name}}</h1>
                    <hr class="divider title__divider  hr-animation">
                    <p class="subtitle">
                        {{.Desk}}
                    </p>
                </div>

                <div class="links__container">
                    <div class="column">
                        <label for="org">Организация, должность</label>
                        <p class="org text" id="org">
                            <i class="fa-solid fa-building fa-lg" style="color: #72685e;"></i>
                            <span class="typing-animation contact org__span">{{.Org}}</span>
                        </p>
                    </div>

                    <hr class="divider top_divider">

                    <div class="column">
                        <label for="tel">Телефон</label>
                        <a href="tel:{{.PhoneNumber}}" class="phone text" id="tel">
                            <i class="fa-solid fa-phone fa-lg" style="color: #72685e;"></i>
                            <span class="typing-animation contact">{{.PhoneNumber}}</span>
                        </a>
                    </div>

                    <hr class="divider">

                    <div class="column">
                        <label for="email">Почта</label>
                        <a href="mailto:{{.EmailAddress}}" class="email text" id="email">
                            <i class="fa-solid fa-envelope fa-lg" style="color: #72685e;"></i>
                            <span class="typing-animation contact">{{.EmailAddress}}</span>
                        </a>
                    </div>

                    <hr class="divider">

                    <div class="column">
                        <label for="website">Вебсайт</label>
                        <a href="{{.WebSite}}" class="website text" target="_blank" id="website">
                            <i class="fa-solid fa-earth-americas fa-lg" style="color: #72685e;"></i>
                            <span class="typing-animation contact">{{.WebSite}}</span>
                        </a>
                    </div>

                    <hr class="divider">

                    <div class="column">
                        <label for="tg">Telegram</label>
                        <a href="https://t.me/{{.TgName}}" class="telegram text" target="_blank" id="tg">
                            <i class="fa-solid fa-paper-plane fa-lg" style="color: #72685e;"></i>
                            <span class="typing-animation contact">@{{.TgName}}</span>
                        </a>
                    </div>

                    <hr class="divider">

                    <div class="column">
                        <label for="whatsapp">WhatsApp</label>
                        <a href="https://wa.me/{{.WhatsApp}}" class="whatsapp text" target="_blank" id="whatsapp">
                            <i class="fa-brands fa-square-whatsapp fa-xl" style="color: #72685e;"></i>
                            <span class="typing-animation contact">{{.WhatsApp}}</span>
                        </a>
                    </div>

                    <hr class="divider">
                </div>

                <div class="qr__container">
                    <img src="assets/qrs/{{.ImageDir}}/qr.png" alt="qr">
                </div>

                <div class="add__btn" onclick="addToContacts()">
                    <span>Добавить в контакты</span>
                </div>

                <div class="designed__container">
                    <p>Designed by <a href="https://t.me/amasaetre">Amasaetre & Co</a></p>
                </div>
            </div>
        </div>
    </main>
    <script src="assets/brownView/js/script.js"></script>
</body>
</html>