<!DOCTYPE html>
<html lang="ru">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>VisitkaBot</title>
    <meta name="robots" content="index, follow">
    <meta name="description" content="Создайте впечатляющие онлайн бизнес визитки всего за несколько простых шагов с нашим сервисом. Позвольте вашему бренду выделиться среди конкурентов..">
    <meta name="keywords" content="онлайн визитка, создать онлайн визитку, бизнес визитка, визитка, создать визитку, веб-визитка, веб визитка, визитка бот, visitka bot, visitkabot">
    <link rel="apple-touch-icon" sizes="180x180" href="assets/main/favicon/apple-touch-icon.png">
    <link rel="icon" type="image/png" sizes="32x32" href="assets/main/favicon/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="16x16" href="assets/main/favicon/favicon-16x16.png">
    <link rel="manifest" href="assets/main/favicon/site.webmanifest">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">
    <link rel="stylesheet" href="assets/main/css/style.css">
    <link rel="stylesheet" href="assets/main/css/media.css">
</head>

<body>
    <div class="loader"></div>
    <div class="container">
        <header class="d-flex flex-wrap justify-content-between py-3" id="header">
            <a href="/" class="d-flex align-items-center mb-md-0 me-md-auto text-decoration-none">
                <span>VisitkaBot</span>
            </a>
            <ul class="nav">
                <li class="nav-item"><a href="https://t.me/BusinCard_Bot" class="nav-link"  aria-label="Telegram">
                        <i class="fa-solid fa-paper-plane fa-xl" style="color: #98bae6;"></i>
                    </a></li>
            </ul>
        </header>
    </div>

    <main>

        <section class="main__section">
            <div class="container">
                <div class="row flex-lg-row-reverse align-items-center justify-content-center g-4 py-5">
                    <div class="img__container col-xxl-6 col-xl-6 col-lg-6 col-md-6 col-sm-12">
                        <img src="assets/main/img/phones2.webp" class="d-block mx-lg-auto img-fluid" alt="Phone images"
                             width="500" height="500">
                    </div>
                    <div class="col-lg-6 text__container">
                        <h1 class="display-5 fw-bold text-body-emphasis lh-1 mb-3 main__title">
                            Создайте свою <span>визитку</span> онлайн
                        </h1>
                        <p class="main__subtitle">Просто, быстро, креативно</p>
                        <p
                            class="main__descr col-xxl-10 col-xl-10 col-lg-10 col-md-10 col-sm-12 offset-md-1 offset-xxl-0 offset-xl-0 offset-lg-0 offset-md-1 offset-sm-0">
                            Создайте бизнес визитку в несколько простых шагов и подчеркните свой стиль.
                            Наш интуитивно понятный инструмент поможет вам создать уникальную визитку, которая оставит
                            незабываемое впечатление на ваших клиентах и партнерах.</p>
                        <div class="btn__container">
                            <a href="#about__section" class="btn__text btn-lg px-4 py-2 me-md-2">Подробнее</a>
                            <a href="/create" class="btn__create btn-lg px-4 py-2 me-md-2">Создать
                                визитку</a>
                        </div>
                    </div>
                </div>
            </div>
        </section>


        <section class="about__section" id="about__section">
            <div class="container">
                <div
                    class="title__container col-xxl-8 col-xl-8 col-lg-8 col-md-8 col-sm-12 offset-xxl-2 offset-xl-2 offset-lg-2 offset-md-2">
                    <h2 class="about__title"><span class="gradient about__gradient">Преимущества нашего сервиса</span>
                    </h2>
                </div>
                <div
                    class="cards__container col-xxl-8 col-xl-8 col-lg-8 col-md-8 col-sm-12 offset-xxl-2 offset-xl-2 offset-lg-2 offset-md-2">
                    <div class="row g-5 row-cols-xxl-2 row-cols-xl-2 row-cols-lg-2 row-cols-md-1 row-cols-1">
                        <div class="col">
                            <div class="card h-100">
                                <div class="card-body">
                                    <div class="card-title">
                                        <h5 class="v__gradient">Безопасность</h5>
                                        <i class="fa-solid fa-shield-halved fa-xl" style="color: #5c5cd6;"></i>
                                    </div>
                                    <div class="card-text">
                                        <p>
                                            Вы решаете, какие данные будут отображаться
                                            на визитке. Мы предоставляем вам полный контроль над информацией,
                                            которой делитесь с миром через вашу визитку в интернете.
                                        </p>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col">
                            <div class="card h-100">
                                <div class="card-body">
                                    <div class="card-title">
                                        <h5>Персонализация</h5>
                                        <i class="fa-solid fa-user-pen fa-xl" style="color: #5c5cd6;"></i>
                                    </div>
                                    <div class="card-text">
                                        <p>
                                            Вы можете выбрать
                                            шаблон для визитки, подчеркивающий ваш стиль и
                                            индивидуальность. С течением времени количество доступных шаблонов будет
                                            только увеличиваться.
                                        </p>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col">
                            <div class="card h-100">
                                <div class="card-body">
                                    <div class="card-title">
                                        <h5>Скорость</h5>
                                        <i class="fa-solid fa-bolt fa-xl" style="color: #5c5cd6;"></i>
                                    </div>
                                    <div class="card-text">
                                        <p>
                                            С нашим сервисом ваши визитки создаются быстрее, чем вы можете представить.
                                            После заполнения формы вам не придется ждать - ваша визитка будет готова за
                                            считанные секунды.
                                        </p>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col">
                            <div class="card h-100">
                                <div class="card-body">
                                    <div class="card-title">
                                        <h5 class="v__gradient">Простота</h5>
                                        <i class="fa-solid fa-hand-holding-heart fa-xl" style="color: #5c5cd6;"></i>
                                    </div>
                                    <div class="card-text">
                                        <p>
                                            Мы сделали процесс создания визиток легким и интуитивно понятным. Вам нужно
                                            всего лишь заполнить простую форму, и ваша визитка будет готова.
                                        </p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
    </main>


    <footer>
        <div class="container">
            <ul class="nav justify-content-md-center justify-content-start border-bottom pb-1 mb-1">
                <li class="nav-item"><a href="https://t.me/BusinCard_Bot" class="nav-link"><i
                            class="fa-solid fa-paper-plane" style="color: #98bae6;"></i>@busincard_bot</a></li>
                <li class="nav-item"><a href="mailto:visitkabot@yandex.ru" class="nav-link"><i
                            class="fa-solid fa-envelope" style="color: #98bae6;"></i>visitkabot@yandex.ru</a></li>
                <li class="nav-item"><a href="policy.html" class="nav-link"><i class="fa-solid fa-file-shield"
                                                                                                                                 style="color: #98bae6;"></i>Политика конфиденциальности</a></li>
                <li class="nav-item"><a href="rules.html" class="nav-link"><i
                            class="fa-solid fa-file-circle-exclamation" style="color: #98bae6;"></i>Правила и требования
                        к контенту</a></li>
            </ul>
            <a href="#header" class="text-center nav-link"><span>VisitkaBot</span></a>
        </div>
    </footer>

    <script src="https://kit.fontawesome.com/98b70eee36.js" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-C6RzsynM9kWDrMNeT87bh95OGNyZPhcTNXj1NW7RuBCsyN/o0jlpcV8Qyq46cDfL" crossorigin="anonymous">
    </script>
    <script src="assets/main/js/script.js"></script>
</body>

</html>