@media only screen and (min-width: 200px) and (max-width: 373px){
    .main .container{
        width: 100%;
    }
    .main .container .qr__container{
        margin-top: 10px;
    }
    /* Это для отступов, когда фотографии нема */
    .main .container .title__container{
        margin-top: 50px;
    }
    .main .container .designed__container{
        margin: 20px 0px 10px 0px;
    }
}
@media only screen and (min-width: 319px) and (max-width: 374px){
    .main .container{
        width: 100%;
    }
    .main .container .qr__container{
        margin-top: 10px;
    }
    /* Это для отступов, когда фотографии нема */
    .main .container .title__container{
        margin-top: 50px;
    }
    .main .container .designed__container{
        margin: 20px 0px 10px 0px;
    }
}
@media only screen and (min-width: 375px) and (max-width: 430px){
    .main .container{
        width: 100%;
    }
    .main .container .qr__container{
        margin-top: 10px;
    }
    /* Это для отступов, когда фотографии нема */
    .main .container .title__container{
        margin-top: 50px;
    }
    .main .container .designed__container{
        margin: 20px 0px 10px 0px;
    }
}
@media only screen and (min-width: 431px) and (max-width: 768px){
    .main .container{
        width: 70%;
    }
    .main .container .qr__container{
        margin-top: 10px;
    }
    /* Это для отступов, когда фотографии нема */
    .main .container .title__container{
        margin-top: 50px;
    }
    .main .container .designed__container{
        margin: 20px 0px 10px 0px;
    }
}
@media only screen and (min-width: 769px) and (max-width: 1024px){
    .main .container{
        width: 55%;
    }
    .main .container .qr__container{
        margin-top: 10px;
    }
    .main .container .designed__container{
        margin: 20px 0px 10px 0px;
    }
}
@media only screen and (min-width: 1025px) and (max-width: 1440px){
    .main .container .add__btn{
      display: none;
    }
}
@media only screen and (min-width: 1441px) and (max-width: 1920px){
    .main .container .add__btn{
      display: none;
    }
    .main .container .designed__container{
        display: none;
    }
}
@media only screen and (min-width: 1921px) and (max-width: 7700px){
    .main{
        height: 100vh;
    }
    .main .container .img__container img{
        max-width: 100%;
        height: auto;
    }
    .main .container .add__btn{
      display: none;
    }
}